<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skylynx</title>

    <script>
      document.location = 'Authentication.Login.ejs';
    </script>
  </head>

  <body></body>
</html>
